// SIZES
$full-size: 100%;
$half-size: 50%;
$null-size: 0;

// COLORS
$white: #ffffff;
$black: #000000;
$gray: #dfdfdf;

// FONTS
$poor-font-weight: 100;
$default-font-weight: 300;
$rich-font-weight: 500;

$header-font-size: 30px;
$content-font-size: 15px;

// MARGINS
$navbar-size: 50px;
$std-padding: 20px;