body{background-color:lightgrey}h1{font-family:"Open Sans Condensed", sans-serif;position:relative;margin-top:100px;margin-bottom:25px;text-align:center;font-size:30px}h1:before{content:"";display:block;border-top:solid 1px black;width:100%;height:1px;position:absolute;top:50%;z-index:1}h1 span{background:lightgrey;padding:0 20px;position:relative;z-index:5}.content{background-color:#dfdfdf;font-size:15px;padding:20px}.content__form__field{margin:15px}.content__form__field__header{margin:5px;font-size:15px}.center{margin-left:auto;margin-right:auto;width:40%;height:500px}.carousel-inner{margin-bottom:50px}.carousel-indicators li{background-color:#669955;width:20px;height:20px}.carousel-indicators .active{background-color:#FF7600;width:20px;height:20px}
/*# sourceMappingURL=create_property.css.map */
