@import "constants";

body {
  background-color: lightgrey;
}

h1 {
    font-family: "Open Sans Condensed", sans-serif;
    position: relative;
    margin-top: $navbar-size * 2;
    margin-bottom: $navbar-size / 2;
    text-align: center;
    font-size: $header-font-size;
}

h1:before {
  content: "";
  display: block;
  border-top: solid 1px black;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

h1 span {
  background: lightgrey;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}

.content {
    background-color: $gray;
    font-size: $content-font-size;
    padding: $std-padding;
    &__form__field {
      margin: 15px;
        &__header {
          margin: 5px;
          font-size: $content-font-size;
        }
    }
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 500px;
}

.carousel-inner {
  margin-bottom:50px;
}

.carousel-indicators li {
  background-color: #669955;
  width:20px;
  height:20px;
}

.carousel-indicators .active {
  background-color: #FF7600;
  width:20px;
  height:20px;
}