


<div class="header">
    <h1 class="one"><span>List a property</span></h1>
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <form class="center">
                <h2 class="form-signin-heading">Step 1: Basic information</h2>
                <br>

                <div class="form-group ">
                    <label for="property_first"> Property type:</label>
                    <br>
                    <input id="property_first" name="property_types" value="all" checked="" type="radio" ng-model="property.type">
                    <label for="property_first">Office</label>
                    <input id="property_second" name="property_types" value="false" type="radio" ng-model="property.type">
                    <label for="property_second">Private house</label>
                    <input id="property_third" name="property_types" value="true" type="radio" ng-model="property.type">
                    <label for="property_third">Apartment</label>
                </div>


                <div class="form-group">
                    <label for="space_first"> Space type:</label>
                    <br>
                    <input id="space_first" name="space_types" value="all" checked="" type="radio" ng-model="property.roomType">
                    <label for="space_first">Entire property</label>
                    <input id="space_second" name="space_types" value="false" type="radio" ng-model="property.roomType">
                    <label for="space_second">Private room</label>
                    <input id="space_third" name="space_types" value="true" type="radio" ng-model="property.roomType">
                    <label for="space_third">Shared room</label>
                </div>

                <div class="form-group">
                    <label for="property_size"> How many people can work at your place?</label>
                    <br>
                    <label>
                        <select class="form-control" name="size" id="property_size" ng-model="property.peopleCount">
                            <option selected="selected">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </label>
                </div>

                <div class="form-group">
                    <label for="image-upload"> Upload your fancy property picture</label>
                    <span class="btn btn-file btn-primary">
                        <input type="file" name="image-upload" id="image-upload" ng-model="property.image"/>
                    </span>
                </div>

            </form>
        </div>
        <div class="item">
            <div class="center">
                <form class="form-signin">
                    <h2 class="form-signin-heading">Step 2: Please login</h2>
                    <br>
                    <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
                    <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    <h2 class="form-signin-heading">Or create a new account</h2>
                    <button class="btn btn-lg btn-success btn-block" type="submit">Create a new account</button>
                </form>

            </div>
        </div>
        <div class="item">
            <div class="center">
                <form class="form-signin">
                    <h2 class="form-signin-heading">Step 3: Detailed information</h2>
                    <br>

                    <div class="form-group">
                        <label for="location">Location:</label>
                        <input type="text" class="form-control" id="location" ng-model="property.location">
                    </div>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" ng-model="property.title">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" ng-model="property.description">
                    </div>
                    <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="save()">Create a property!</button>
                    <!-- Modal -->
                </form>
            </div>
        </div>
    </div>
</div>

<a class="left carousel-control" href="#myCarousel" role="button" name="prev" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>

<a class="right carousel-control" href="#myCarousel" role="button" name="next" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>