<div class="row">
    <div class="col-xs-7">
        <table class="table table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
            <tr ng-repeat="property in properties" ng-click="showDetails(property)">
                <td>{{property.id}}</td>
                <td>{{property.title}}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-5" ui-view>

    </div>
</div>