<table class="table">
    <tr>
        <th>Title</th>
        <td><edit-text value="property.title"></edit-text></td>
    </tr>
    <tr>
        <th>Year</th>
        <td><edit-text value="property.location"></edit-text></td>
    </tr>
    <tr>
        <th>Genre</th>
        <td><edit-text value="property.description"></edit-text></td>
    </tr>
    <tr>
        <th>Watched</th>
        <td><edit-bool value="property.isAvailable"></edit-bool></td>
    </tr>
</table>
<button class="button" ng-click="delete()">
    <span class="glyphicon glyphicon-trash"></span> Delete
</button>